# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# IDE settings
.vscode/
.idea/

# Environment Variables / Credentials
.env

# Docker & Databases
chroma_data/
vector_db_data/